body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

table {
    width: 90%;
    margin: 30px auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

th,
td {
    padding: 12px 20px;
    border: 1px solid #dee2e6;
    text-align: center;
}

th {
    background-color: #e9ecef;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f1f3f5;
}

tr:hover {
    background-color: #dbe4ff;
}

.yes {
    color: green;
    font-weight: bold;
}

.no {
    color: red;
    font-weight: bold;
}

button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #007bff;
    /* Blue */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
    /* Darker blue on hover */
}

button:active {
    background-color: #004085;
    /* Even darker on click */
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
}