.container{

}

#img1{
    /* this add the blur to the image */
    filter:blur(10px) contrast(100%);
}
#img2{
    /* this add the blur to the image */
    filter:brightness(10px)
}

#img3{
    filter:grayscale() ;
}
