/* --------------------------------------header start --------------------------------------------- */

body {
  font-family: "Heebo", sans-serif;
}
header {
  margin-top: 25px;
  width: 95vw;
  padding:25px;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
}
header nav {
  display: flex;
  /* background-color: blue; */
  justify-content: space-between;
  flex-wrap: nowrap;
}

nav {
  padding: 2px;
}

.main-logo img,
.main-logo {
  height: 100%;
  width: 40%;
  max-width: 600px;
  height: 65%;
}

.nav-btn-container {
  display: flex;
  gap: clamp(1rem, 0.9223rem + 0.3883vi, 1.25rem);
  flex-wrap: nowrap;
}

.nav-btn {
  font-family: "Barlow", sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 15px;
  line-height: 23px;
  color: rgb(28, 32, 34);
  border: none;
  background-color: white;
  display: flex;
  justify-items: center;
  align-items: center;
  position: relative;
  line-height: 23px;
  cursor: pointer;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.nav-btn span {
  margin: 0;
  padding: 1px;
  margin-left: 3px;
  background-color: hsl(227 45% 44% / 1);
  border-radius: 5px;
  color: white;
  height: 50%;
}

.nav-btn i {
  margin-left: 3px;
}

#pro-btn:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: hsl(351 84% 55% / 1);
  height: 100%;
}

.btn-git {
  background-color: black;
  color: white;
  border-radius: 25px;
  padding: 10px;
  font-size: 12px;
  width: 250px;
  justify-content: center;
  gap: 25px;
  font-size: 18px;
}

.btn-git i {
  font-size: 25px;
}

/* --------------------------------------header end --------------------------------------------- */
/* ---------------------------------------------------top container start ------------------------ */

.top-container{
  margin-top:50px;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.left-container {
  width: 45vw;
  flex-direction: column;
  justify-content: center;
  padding:50px;
  gap:20px;
}

.right-container {
  width: 45vw;
}

.right-container img {
  width: 110%;
  /* height: 100%; */
}

.left-container h1 {
  font-family: sans-serif;
  font-weight: 100;
  font-size: 54px;
  color: rgb(62, 84, 163);
  margin:0;
  padding:0;
}
.left-container p {
  font-family:  sans-serif;
  font-size: 21px;
  line-height: 32px;
  color: rgb(115, 115, 115);
}


.community{
  gap:20px;
  align-items: center;
  justify-content: center;
}
.community img{
  height:50%;
}
.community span{
  font-size: 21px;
  font-family: sans-serif;
}
.community span b{
  color:rgb(62, 84, 163);
  font-weight: 800;
}

.btn-buypro {
  font-family:  sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: white;
  background-color: hsl(351 84% 55% / 1);
  border: none;
  width: 50%;
  height: 50px;
}
/* ---------------------------------------------------top container end ------------------------ */
/* ----------------------------------------------------support start------------------------------- */
.support {
  grid-template-columns: 1fr 1fr;
  gap:55px;
  background-image: linear-gradient(transparent, #f0f4f4);
}
.quotes {
  text-align: center;
  font-size: 60px;
  line-height: 60px;
  color: rgb(62, 84, 163, 0.5);
}
.person{
    padding:5vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:40px;
    flex-grow: 1.2;
}
.person p {
    display: flex;
  text-align: center;
  font-family:  sans-serif;
  font-size: 18px;
  line-height: 32px;
  color: rgb(28, 32, 34); 
  flex-grow: 1.2;
}

.person img{
    border-radius: 50px;
}

.names span{
font-family:sans-serif ;
font-size: 18px;
line-height: 18px;
color: rgb(28, 32, 34);
text-align: center;
}
.names h2{
font-family:sans-serif ;
font-size: 18px;
line-height: 18px;
color: rgb(62, 84, 163);
text-align: center;

}

/* ----------------------------------------------------support end------------------------------- */
/* -----------------------------------------------------features start------------------------------ */
.feature-container{
  flex-direction: column;
  gap:50px;
  padding:25px;
}

.features{
  height:50vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap :50px;
  margin-bottom: 50px;
}



.web-container{
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap :50px;
}

.web-container div{
  display:inline-block;
  padding:25px 50px;
  border:1px solid lightslategrey;
  border-radius: 25px;
}


.left-img-container{
  width: 50vw;
  padding:25px;
}
.left-img-container img {
  width: 80%;
}


.left-right-container{
  grid-template-columns: 1fr 1fr;
  max-height: 100vh;
}

.right-info-container{
  flex-direction: column;
  gap:30px;
  justify-content: center;
}

.right-info-container .big-icons{
  background-color: green;
  border-radius:100px;
  background-color:rgba(208, 255, 241, 0.836);
  height:15%;
  width:16%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-info-container .big-icons span{
   font-size: 37px;
   margin:0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-info-container h1{
  font-family: sans-serif;
  font-weight: 400;
  font-color: rgb(28, 32, 34);
  font-size:45px;
  margin:0;

}
.right-info-container p{
  font-family: sans-serif;
  color:rgb(115, 115, 115);
  font-size:21px;
  margin:0;
}

/* ------------------------------------------------------feature 1 end ------------------------------------ */
.right-img-container{
  width: 50vw;
  padding:25px;
  object-fit: cover;

}
.right-img-container img {
  width: 100%;
}


.left-info-container{
  flex-direction: column;
  gap:30px;
  justify-content: center;
}

.left-info-container .big-icons{
  background-color: green;
  border-radius:100px;
  background-color:rgba(208, 255, 241, 0.836);
  height:10%;
  width:16%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-info-container .big-icons span{
   font-size: 37px;
   margin:0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-info-container h1{
  font-family: sans-serif;
  font-weight: 400;
  font-color: rgb(28, 32, 34);
  font-size:45px;
  margin:0;

}
.left-info-container p{
  font-family: sans-serif;
  color:rgb(115, 115, 115);
  font-size:21px;
  margin:0;
}

/* -----------------------------------------------------features end------------------------------ */
#rocket{
  height: 12%;
    width: 16%;
}
/* ---------------------------icons ------------------------------------------------------------- */