* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.navbar {
  background-color: rgb(195, 132, 255);
  position: sticky;
  top: 0px;
  z-index: 1;
}

.nav-items {
  list-style-type: none;
}

.item a:hover {
  text-decoration: none;
  color: white;
  background-color: black;
}
.item a {
  text-decoration: none;
  color: white;
  padding: 5px;
}
.item {
  display: inline-block;
  font-size: 20px;
  padding: 5px;
  margin: 2px;
}

.section-container {
  height: 100vh;
  background-color: rgb(125, 240, 240);
  overflow: hidden;
}

.section {
  position: absolute;
  background-color: blueviolet;
  width: 40%;
  height: 50%;
  margin-top: 5%;
  overflow: auto;
  border-radius: 5px;
  max-height: 80%;
}
.section p {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#s1 {
  background-color: wheat;
  right: 5%;
}
#s2 {
  background-color: rgb(105, 105, 236);
  left: 5%;
}
.message {
  border: 2px solid blue;
  border-radius: 25px;
  color: pink;
  background-color: gray;
  padding: 10px;
}
.message p {
  font-color: black;
  font-size: 25px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.logo img {
  width: 50px;
  height: 50px;
  border-radius: 100px;
}
.logo {
  position: fixed;
  right: 0px;
  bottom: 0px;
}
.foot {
    height:20vh;

}

.foot a{
    text-decoration: none;
    color:white;
}
.foot p{
    color:white;
    margin:20px;
}